* {
    background-color: F5F5F0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 650px;
    margin: 15px auto ;
}

.container .title {
    text-shadow: 1px 1px #E6D8C3;
    padding: 10px;
    border-bottom: 0.5px solid #C2A68C;
}

.container img {
    margin-left: 10px;
    box-shadow: 1px 1px #E6D8C3;
}

.recipe-content {
    margin-bottom: 50px;
}

.recipe-content h2 {
    border: 1px solid F5F5F0;
    background-color: #E6D8C3;
    padding: 3px;
    width: 650px;
}

.recipe-content p{
    padding: 0 10px;

}

.recipe-content li{
    padding-top: 2%;
    
}